table{
    width: 100%;
}
thead{
    background-color: grey;
    text-transform: uppercase;
    text-align: left;
}
th{
    border: 4px solid grey;
    
}
th, td{
    color: white;
    padding: 20px;
}

td{
    background-color: black;
}


.tabela{
    margin: 0 auto;
    width: 80%;
}

.linhas{
    background-color: red;
}


